:root {
  --background-color: grey;
  --bar-color: rgba(93, 156, 211, 0.86);
  --bar-text-color: white;
  --hover-color: rgba(34, 255, 0, 0.249);
  --text-background-color: rgba(39, 2, 31, 0.249);
  --text-color: white;
  --title-text-color: white;
  --text-border-color: rgb(93, 156, 211);
}

html {
  background-color: var(--background-color);
}
body {
  margin: 0;
  padding-top: 60px;
}

/* Headings */
h1 {
  color: var(--title-text-color);
  text-align: center;
}

/* Wraps body in every html file
   Used to make navbar not cover everything on a phone
*/
.everything {
  position: relative;
}

/* Navbar */
.navbar {
  background-color: var(--bar-color);
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

/* Logo links to home page */
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("pictures/about_image.jpg");
}

/* List of links to all pages in navbar */
.nav-list {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}

/* All links in nav-list */
.nav-list a {
  color: #f2f2f2;
  padding: 15px 15px;
  text-decoration: none; /* get rid of underline */
  font-size: 20px;
}

/* Hovering over link in nav-list */
.nav-list a:hover {
  background-color: var(--hover-color);
  border-radius: 20%; /* curve edges*/
}

.icon-list {
  display: flex;
  padding: 15px;
  list-style: none;
}

.icon-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icon-item {
  padding: 5px;
}

.icon-item:hover {
  transform: scale(1.1);
}

.logo:hover {
  transform: scale(1.1);
}
/* End Navbar */

/* about-me section on home page */
.about-me {
  text-align: center;
  background-color: var(--text-background-color);
  width: 70%;
  margin: auto;
  color: var(--title-text-color);
  border: 5px solid var(--text-border-color);
}

/* class for blog textbox */
.blog {
  text-align: center;
  background-color: var(--text-background-color);
  width: 70%;
  margin: auto;
  color: var(--title-text-color);
  border: 5px solid var(--text-border-color);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}

/* Portfolio */

/* Class for each project in portfolio */
.Project {
  justify-content: center;
  min-height: 420px;
  display: flex;
  align-items: center;
  background-color: var(--text-background-color);
  width: 70%;
  max-width: 700px;
  margin: auto;
  color: var(--title-text-color);
  border: 5px solid var(--text-border-color);
  transition: transform 0.3s ease;
}

/*Wraps the image that links to the project*/
.project-image {
  width: 60%;
  max-width: 400px;
}

/* Wraps the details about the project */
.project-details {
  width: 40%;
}

/* Info about each project */
.website-details {
  margin-left: 20px;
  text-align: center;
}

/* Info for the website project */
.website {
  height: 400px;
  margin-left: 10px;
  background-position: center center;
  border-radius: 15%;
  background-size: cover;
  background-clip: border-box;
  overflow: hidden;
  background-image: url("pictures/website.png");
}

.website:hover {
  transform: scale(1.03);
}
/* Info about each project */
.baseball-simulator-details {
  margin-left: 20px;
  text-align: center;
}

/* Info for the website project */
.baseball-simulator {
  height: 400px;
  margin-left: 10px;
  background-position: center center;
  border-radius: 15%;
  background-size: cover;
  background-clip: border-box;
  overflow: hidden;
  background-image: url("pictures/baseball_simulator.png");
}

.baseball-simulator:hover {
  transform: scale(1.03);
}

/* Resume */
/* Title */
.section-title {
  /* margin-left: 40px; */
  text-align: center;
  color: var(--title-text-color);
}

/* Each entry */
.entry {
  text-align: center;
  align-items: center;
  background-color: var(--text-background-color);
  width: 70%;
  margin: auto;
  color: var(--title-text-color);
  border: 5px solid var(--text-border-color);
  margin-bottom: 10px;
}

.entry-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bullet-list {
  list-style-position: inside;
  list-style: inside;
  text-align: left;
  max-width: 80%;
}

ul {
  list-style: none; /*get rid of bullet points in list*/
}

/* Resume download button */
.download {
  text-align: center;
}

/* Resume download link */
.download a {
  color: var(--title-text-color);
}

/* Resume download hover */
.download a:hover {
  color: white;
}

/* Contact */
.input-form {
  text-align: center;
  align-items: center;
  background-color: var(--text-background-color);
  width: 70%;
  margin: auto;
  color: var(--title-text-color);
  border: 5px solid var(--text-border-color);
  margin-bottom: 10px;
}

/* Entire Form */
form {
  margin: auto;
}

/* label for each form input */
label {
  margin-bottom: 8px;
  font-weight: bold;
}

/* info for inputs in form */
input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--bar-color);
  border: 1px solid var(--text-border-color);
  font-size: 16px;
}

/* info for inputs in form when clicked on */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid var(--text-border-color);
  outline: none; /*get rid of black border when clicked on */
}

/* submit button */
input[type="submit"] {
  background-color: var(--text-background-color);
  color: var(--title-text-color);
  border: 3px solid var(--text-border-color);
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  /*make it so user can only 
  adjust height of textarea*/
}
