html {
  background-color: rgb(255, 155, 215);
}
body {
  margin: 0;
  padding-top: 60px;
}

/* Headings */
h1 {
  color: rgb(177, 93, 93);
  text-align: center;
}

/* Wraps body in every html file
   Used to make navbar not cover everything on a phone
*/
.everything {
  position: relative;
}

/* Navbar */
.navbar {
  background-color: rgba(229, 88, 232, 0.589);
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo links to home page */
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("pictures/about_image.jpg");
}

/* List of links to all pages in navbar */
.nav-list {
  display: flex;
}

/* All links in nav-list */
.nav-list a {
  color: #f2f2f2;
  padding: 15px 15px;
  text-decoration: none; /* get rid of underline */
  font-size: 20px;
}

/* Hovering over link in nav-list */
.nav-list a:hover {
  background-color: #ff009d;
  border-radius: 20%; /* curve edges*/
}
/* End Navbar */

/* about-me section on home page */
.about-me {
  text-align: center;
  background-color: #ffb9f0;
  width: 70%;
  margin: auto;
  color: rgb(177, 93, 93);
  border: 5px solid rgb(232, 0, 151);
}

/* class for blog textbox */
.blog {
  text-align: center;
  background-color: #ffb9f0;
  width: 70%;
  margin: auto;
  color: rgb(177, 93, 93);
  border: 5px solid rgb(232, 0, 151);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}

/* Portfolio */

/* Class for each project in portfolio */
.Project {
  justify-content: center;
  min-height: 420px;
  display: flex;
  align-items: center;
  background-color: #ffb9f0;
  width: 70%;
  max-width: 700px;
  margin: auto;
  color: rgb(177, 93, 93);
  border: 5px solid rgb(232, 0, 151);
  transition: transform 0.3s ease;
}

/*Wraps the image that links to the project*/
.project-image {
  width: 60%;
  max-width: 400px;
}

/* Wraps the details about the project */
.project-details {
  width: 40%;
}

/* Info about each project */
.website-details {
  margin-left: 20px;
  text-align: center;
}

/* Info for the website project */
.website {
  height: 400px;
  margin-left: 10px;
  background-position: center center;
  border-radius: 15%;
  background-size: cover;
  background-clip: border-box;
  overflow: hidden;
  background-image: url("pictures/website.png");
}

.website:hover {
  transform: scale(1.03);
}

/* Resume */
/* Title */
.section-title {
  margin-left: 40px;
  text-align: center;
  color: rgb(177, 93, 93);
}

/* Each entry */
.entry {
  text-align: center;
  align-items: center;
  background-color: #ffb9f0;
  width: 70%;
  margin: auto;
  color: rgb(177, 93, 93);
  border: 5px solid rgb(232, 0, 151);
  margin-bottom: 10px;
}

ul {
  list-style: none; /*get rid of bullet points in list*/
}

/* Resume download button */
.download {
  text-align: center;
}

/* Resume download link */
.download a {
  color: rgb(177, 93, 93);
}

/* Resume download hover */
.download a:hover {
  color: white;
}

/* Contact */
.input-form {
  text-align: center;
  align-items: center;
  background-color: #ffb9f0;
  width: 70%;
  margin: auto;
  color: rgb(177, 93, 93);
  border: 5px solid rgb(232, 0, 151);
  margin-bottom: 10px;
}

/* Entire Form */
form {
  margin: auto;
}

/* label for each form input */
label {
  margin-bottom: 8px;
  font-weight: bold;
}

/* info for inputs in form */
input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgba(229, 88, 232, 0.589);
  border: 1px solid rgb(232, 0, 151);
  font-size: 16px;
}

/* info for inputs in form when clicked on */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 3px solid rgb(232, 0, 151);
  outline: none; /*get rid of black border when clicked on */
}

/* submit button */
input[type="submit"] {
  background-color: #ffb9f0;
  color: rgb(177, 93, 93);
  border: 3px solid rgb(232, 0, 151);
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  /*make it so user can only 
  adjust height of textarea*/
}
